{% extends "base.html" %}
{% block content%}
<div class="partial">
  <p>
    <a href="{% url 'subjects' %}">
      Back
    </a>
  </p>
  <h1>{{subject.name|title}}</h1>
  <div>


    <a href="{% url 'test' subject.name %}">test</a>
    <a  href="{% url 'review' subject.name %}">review</a>
  </div>


  <div class="subject_subtopics">
    {% for s in subtopics%}
    <div class="subject_subtopic">

      <p>
        <a href="{% url 'subtopic_cards' subject.name s.name%}">
          {{s.name|capfirst}}
        </a>
      </p>

    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
