@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Roboto&display=swap');

html {
  background-image: linear-gradient(#403f3f, #598160);
  min-height: 100vh;
  /* color: white; */
}

body {
  padding-top: 1em;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.hidden {
  display: none;
}

header {
  color: white;
  padding: .5em .5em 0 0;
  background-image: url("images/desk-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 240px;
}

header h1 {
  margin: 0;
  text-align: center;
  font-size: 2.5em;
  font-family: 'Gloria Hallelujah', cursive;
  line-height: 1.1em;
}

h2 {
  font-size: 1em;
  width: 50%;
  float: right;
  margin-top: 1.5em;
  line-height: 1.5em;
  font-family: 'Gloria Hallelujah', cursive;
}

.partial {
  color: #192424;
  background-color: #d5c090;
  padding: 1em;
  text-align: center;
  margin: 1em 0;
  font-size: 1.4em;
  border-radius: 25px;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.partial h3 {
  margin: 0 0 1.3em 0;
  padding-bottom: .5em;
  border-bottom: 2px solid #c1484a;
}

.back-link {
  position: absolute;
  left: 1em;
  top: 0;
}

.back-link a {
  color: #192424;
}

.subject {
  background-color: #598160;
  width: 65%;
  min-width: 250px;
  margin: 0 auto;
  border-radius: 25px;
  /* font-size: 1.3em; */
}

#test-review {
  display: flex;
  justify-content: space-between;
  background-color: #192424;
  border-radius: 25px;
}

.partial h3.test-review {
  margin-top: 1em;
}

#test-review a {
  color: #598160;
  padding: 1em;
}

.subject p {
  padding: .5em;
}

.subject a {
  color: #192424;
  text-decoration: none;
}

/* ++++++++++++++++ Index Cards +++++++++++++++++++++  */
.cards {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-grid {
  flex-wrap: wrap;
  width: 90vw;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
  margin-bottom: 1.5em;
}

.back, .front {
  font-family: 'Gloria Hallelujah', cursive;
  background-image: url("images/index-card.jpg");
  background-size: cover;
  box-sizing: border-box;
  width: 90vw;
  max-width: 300px;
  height: 250px;
  line-height: 1em;
  font-size: 1em;
}

.front .card-content {
  padding: 3.6em 0;
}

.test .front .card-content {
  padding: 0;
  margin-top: 1.8em;
}

.answer {
  display: none;
}

.correct {
  border: solid green 2px;
  position: absolute;
}

.incorrect {
  border: solid red 2px;
}

.card-grid.test.correct .front .card-content,
.card-grid.test.incorrect .front .card-content {
  margin-top: .4em;
}

.test .front .card-content input {
  display: block;
  margin: 0 auto;
  background-color: inherit;
  border: 0;
  text-align: center;
  line-height: 1em;
  font-family: inherit;
  margin-top: 1.2em;
  font-size: 1em;
}

.test .front .card-content input:focus {
  outline: none;
}

.test .front img {
  width: 50px;
  height: 50px;
}

.back .card-content {
  padding: 1.8em .5em;
}

@media screen and (min-width: 500px) {
  header {
    height: 400px;
    max-width: 610px;
    margin: 0 auto;
  }

  header h1 {
    font-size: 3em;
    line-height: 2em;
  }

  header h2 {
    font-size: 1.5em;
    line-height: 1.5em;
  }

  .partial {
    max-width: 660px;
    margin: 0 auto;
    margin-top: 1em;
  }

  .partial h3 {
    width: 80%;
    margin: 0 auto;
  }

  #test-review {
    margin: 0 auto;
    width: 80%;
  }
}